.profile__edit-button {
    width: 18px;
    height: 18px;
    background-image: url(../../../images/edit-button.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    margin-left: 10px;
}

@media screen and (min-width: 1025px) {
    .profile__edit-button {
        width: 24px;
        height: 24px;
        background-size: 24px 24px;
        margin-left: 20px;
    }
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}
