.popup__heading {
    margin: 0 0 15px;
    font-family: 'Inter', 'Helvetics', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #000;
}

@media screen and (min-width: 600px) {
    .popup__heading {
        font-size: 24px;
        line-height: 29px;
    }
}