@import url(./__overlay/image-popup__overlay.css);
@import url(./__close-button/image-popup__close-button.css);
@import url(./__container/image-popup__container.css);
@import url(./__image/image-popup__image.css);
@import url(./__caption/image-popup__caption.css);

.image-popup {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s ease-in-out;
}