.popup__submit-button {
    width: 100%;
    height: 50px;
    background-color: #000;
    border-radius: 2px;
    border: none;
    margin: 23px 0 0;
    font-family: 'Inter', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
}

.popup__submit-button:hover {
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.popup__submit-button:focus {
    outline: none;
}

@media screen and (min-width: 600px) {
    .popup__submit-button {
        font-size: 18px;
        line-height: 22px;
    }
}

.popup__submit-button:disabled {
    background: #fff;
    border: 1px solid #000;
    opacity: 0.2;
    color: #000;
}