.footer__copyright {
    font-family: 'Inter', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #545454;
}

@media screen and (min-width: 1025px) {
    .footer__copyright {
        font-size: 18px;
        line-height: 22px;
    }
}