@import url(./__copyright/footer__copyright.css);

.footer {
    margin: 0 auto;
    width: 88%;
    padding: 48px 0 36px;
}

@media screen and (min-width: 1025px) {
    .footer {
        width: 69%;
        max-width: 882px;
        padding: 66px 0 60px;
    }
}