.popup__close-button {
    position: absolute;
    top: -33px;
    left: 100%;
    background-image: url(../../../images/close-button.svg);
    width: 33px;
    height: 33px;
    border: none;
    background-color: transparent;
    padding: 0;
}

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.popup__close-button:focus {
    outline: none;
}
