.profile__add-button {
    background-repeat: no-repeat;
    background-image: url(../../../images/add-button-long.svg);
    width: 282px;
    height: 50px;
    background-size: 282px 50px;
    margin-top: 35px;
    border: none;
    background-color: transparent;
    padding: 0;
}

@media screen and (min-width: 1025px) {
    .profile__add-button {
        background-image: url(../../../images/add-button.svg);
        width: 150px;
        height: 50px;
        background-size: 150px 50px;
        margin-top: 0;
    }
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.profile__add-button:focus {
    outline: none;
}

