@import url(../vendor/normalize.css);
@import url(../fonts/Inter/inter.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__heart/_active/card__heart_active.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_shown/popup_shown.css);
@import url(../blocks/image-popup/image-popup.css);
@import url(../blocks/image-popup/_shown/image-popup_shown.css);




