.popup__input {
    font-family: 'Inter', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 30px;
    color: #000;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    margin: 0;
}

.popup__input::placeholder {
    font-family: 'Inter', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #C4C4C4;
}

@media screen and (min-width: 600px) {
    .popup__input {
        font-size: 14px;
        line-height: 30px;
    }

    .popup__input::placeholder {
        font-size: 14px;
        line-height: 17px;
    }
}
