.popup__error-text {
    color: #f00;
    font-family: 'Inter', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    visibility: hidden;
    margin: 0;
    min-height: 10px;
}

@media screen and (min-width: 600px) {
    .popup__error-text {
        min-height: 22px;
    }
}