.image-popup__close-button {
    position: absolute;
    top: -28px;
    left: calc(100% + 3px);
    background-image: url(../../../images/close-button.svg);
    background-size: contain;
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
    padding: 0;
}

.image-popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.image-popup__close-button:focus {
    outline: none;
}

@media screen and (min-width: 600px) {
    .image-popup__close-button {
        top: -38px;
        left: calc(100% + 5px);
        width: 33px;
        height: 33px;
    }
}
